@font-face{
    font-family: Blacklisted;
    src: url(fonts/blacklisted.ttf);
}

body{
    background-image: url('./images/fondo/fondo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-black{
    background-color: black;
}

#barra-superior{
    z-index: 10;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.text-decoration-none{
    text-decoration: none;
}

.font-blacklisted{
    font-family: Blacklisted;
}

.w-65{
    width: 65%;
}

.h-600px{
    height: 600px;
}

.tamanio-mostrar-imagenes{
    height: 300px;
    width: 200px;
}

.overflow-hidden{
    overflow: hidden;
}

.outline-none{
    outline: none;
}

#paginacion-1{
    background-image: url('./images/1.jpg');
}

#footer-youtube{
    background-color: transparent;
    border: none;
}

#footer-youtube-imagen{
    height: 30px;
}